.browser {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  .form {
    margin-top: 23px;
  }
  .form__title {
    margin-left: 10px;
  }
  .form__input {
    margin-left: 60px;

    border-radius: 15px;
    color: black;

    outline: none; //disable outline around input
  }
  .form__button {
    margin-left: 5px;

    border-radius: 15px;
    outline: none;
  }
}
